.OrderDetails {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.OrderSummary {
  background-color: lightgray;
  text-align: left;
}

.headers {
  font-size: 13px;
}

.mataData {
  font-size: 14px;
}

.OrderSummary,
.ProductDetails {
  padding: 20px;
  margin-bottom: 20px;
}

.ProductItem {
  display: flex;
  align-items: center;
}

.ProductInfo {
  margin-left: 20px;
}

.buttons button {
  display: block;
  border: 1px solid;
  width: 100%;
  margin: 10px -10px;
}

.viewOrderDetails {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.currentStatus {
  font-size: 20px;
  font-weight: 700;
}

.ProductDetails img {
  height: 100px;
  width: 100px;
}