.footer {
  background-color: black;
  padding: 30px 30px;
  text-align: center;
  position: relative;
  bottom: -10%;
  width: 100%;
  margin-top: 10px;
}

.footer span,
.footer a {
  margin: 0 20px;
  color: white;
  font-size: 18px;
}